# 忽略特定的文件夹
data/
dataset/
imgs/
Thesis/
model/
code/
pytorch/

# 忽略jupyter notebook检查点
.ipynb_checkpoints/

# 数据文件
*.jsonl
*.csv
*.h5
*.npy
*.npz
*.pkl
*.joblib
*.env
*.pt
*.pdf
*.zip


# 环境相关
.env
venv/
.env/
env_LLM/firefly-train-1.1M.jsonl
